@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.15 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

*,
  ::before,
  ::after {
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

@media (max-width: 640px) {
  :root {
  }
}

:root {
}

html {
  background-color: #121212;
  color: #e5e7eb;
  font-family: "Pretendard", sans-serif;
  font-feature-settings: "tnum", "calt" 0;
  font-variant-numeric: tabular-nums;
}

body {
  font-size: 15px;
}

main {
}

.font-logo {
  font-family: "Kanit", serif;
}

button::-webkit-scrollbar {
  display: none;
}

small {
  display: flex;
  font-size: 80%;
}

h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  line-height: 1.25;
}

button,
  input,
  textarea,
  select {
  margin: 0;
  padding: 0;
  outline: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  font-weight: normal;
}

input,
  textarea,
  select {
  /* background: var(--input-bg); */
}

input,
  textarea {
  width: 100%;
}

input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

select {
  cursor: pointer;
}

:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

::-moz-placeholder {
  /* color: var(--text-disable); */
}

::placeholder {
  /* color: var(--text-disable); */
}

::-webkit-scrollbar {
  /* display: none; */
  width: 16px;
  height: 16px
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  background-clip: padding-box;
  border: 6px solid transparent;
}

::-webkit-scrollbar-button {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 40px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 48;
}

/* safari iOS 12 */

@supports (-webkit-touch-callout: none) and (not (translate: none)) {
}

[data-type="address"]{
  word-break: break-all;
}

/* end safari iOS 12 */

.btn-default{
  min-width: 280px;
  --tw-bg-opacity: 1;
  background-color: rgb(13 110 110 / var(--tw-bg-opacity, 1));
}

@media not all and (min-width: 768px){
  .btn-default{
    min-width: auto;
  }
}

.btn-default {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  height: 48px;
  padding: 0 28px;
  overflow: hidden;
  border-radius: 8px;
  font-weight: 700;
  gap: 8px;
  &:not(:disabled):hover {
    background: white;
    transition: background 150ms cubic-bezier(0.4, 0, 0.2, 1) 150ms;
    color: black;
    * {
      position: relative;
      z-index: 1;
    }
  }
  &:not(:disabled):hover::after {
    left: 0;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: white;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.btn-line{
  position: relative;
  min-width: 280px;
  border-width: 1px;
  border-color: rgb(255 255 255 / 0.1);
  color: rgba(229, 231, 235, 0.4);
}

@media not all and (min-width: 640px){
  .btn-line{
    min-width: auto;
  }
}

.btn-line:hover:not(:disabled){
  color: rgba(229, 231, 235, 1);
}

.btn-line {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  height: 48px;
  padding: 0 28px;
  overflow: hidden;
  border-radius: 8px;
  font-weight: 700;
  gap: 8px;
  &:not(:disabled):hover {
    transition: background 150ms cubic-bezier(0.4, 0, 0.2, 1) 150ms;
    * {
      position: relative;
      z-index: 1;
    }
    border-color: transparent;
  }
  &:not(:disabled):hover::after {
    left: 0;
  }
  &::after{
    background-color: rgb(255 255 255 / 0.05);
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.btn-hover {
  position: relative;
  overflow: hidden;
  &:not(:disabled):hover {
    background: white;
    transition: background 150ms cubic-bezier(0.4, 0, 0.2, 1) 150ms;
    color: #000;
  }
  span,
    i {
    z-index: 1;
    position: relative;
  }
  &:not(:disabled):hover::after {
    transform: translateX(100%);
  }
  &:not(:disabled)::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: white;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.25rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal{
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity, 1));
  position: relative;
  display: grid;
  width: 100%;
  border-radius: 16px;
  padding: 1.25rem;
  padding-top: 2rem;
  box-shadow: 0px 170px 68px rgba(0, 0, 0, 0.04),
      0px 95px 57px rgba(0, 0, 0, 0.13), 0px 42px 42px rgba(0, 0, 0, 0.21),
      0px 11px 23px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .modal {
    width: 500px;
  }
}

.modal header {
  margin-bottom: 0.5rem;
  text-align: center;
}

.modal header h1 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.375;
}

.modal .subTitle {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  display: flex;
  justify-content: center;
  font-weight: 300;
  color: var(--text-muted);
}

.modal main {
  display: grid;
  gap: 1.25rem;
  button {
    min-width: auto;
  }
}

.tag-success{
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 13px;
  font-weight: 600;
  background-color: rgb(52 211 153 / 0.1);
  --tw-text-opacity: 1;
  color: rgb(52 211 153 / var(--tw-text-opacity, 1));
}

.tag-failed{
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 13px;
  font-weight: 600;
  background-color: rgb(255 92 41 / 0.1);
  --tw-text-opacity: 1;
  color: rgb(255 92 41 / var(--tw-text-opacity, 1));
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.sticky{
  position: sticky;
}

.left-0{
  left: 0px;
}

.right-4{
  right: 1rem;
}

.right-5{
  right: 1.25rem;
}

.top-0{
  top: 0px;
}

.top-1\/2{
  top: 50%;
}

.top-5{
  top: 1.25rem;
}

.top-\[100px\]{
  top: 100px;
}

.z-50{
  z-index: 50;
}

.z-\[52\]{
  z-index: 52;
}

.col-span-2{
  grid-column: span 2 / span 2;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.mb-1{
  margin-bottom: 0.25rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.ml-3{
  margin-left: 0.75rem;
}

.ml-auto{
  margin-left: auto;
}

.mr-3{
  margin-right: 0.75rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-7{
  margin-top: 1.75rem;
}

.mt-auto{
  margin-top: auto;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.table{
  display: table;
}

.grid{
  display: grid;
}

.contents{
  display: contents;
}

.hidden{
  display: none;
}

.size-0{
  width: 0px;
  height: 0px;
}

.size-4{
  width: 1rem;
  height: 1rem;
}

.size-5{
  width: 1.25rem;
  height: 1.25rem;
}

.size-6{
  width: 1.5rem;
  height: 1.5rem;
}

.size-7{
  width: 1.75rem;
  height: 1.75rem;
}

.size-full{
  width: 100%;
  height: 100%;
}

.h-10{
  height: 2.5rem;
}

.h-12{
  height: 3rem;
}

.h-16{
  height: 4rem;
}

.h-6{
  height: 1.5rem;
}

.h-8{
  height: 2rem;
}

.h-9{
  height: 2.25rem;
}

.h-auto{
  height: auto;
}

.min-h-10{
  min-height: 2.5rem;
}

.min-h-14{
  min-height: 3.5rem;
}

.min-h-8{
  min-height: 2rem;
}

.min-h-9{
  min-height: 2.25rem;
}

.min-h-screen{
  min-height: 100vh;
}

.w-10{
  width: 2.5rem;
}

.w-6{
  width: 1.5rem;
}

.w-auto{
  width: auto;
}

.w-fit{
  width: -moz-fit-content;
  width: fit-content;
}

.w-full{
  width: 100%;
}

.min-w-36{
  min-width: 9rem;
}

.min-w-\[90px\]{
  min-width: 90px;
}

.min-w-\[auto\]{
  min-width: auto;
}

.max-w-\[600px\]{
  max-width: 600px;
}

.origin-center{
  transform-origin: center;
}

.-translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes pulse{
  50%{
    opacity: .5;
  }
}

.animate-pulse{
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}

.animate-spin{
  animation: spin 1s linear infinite;
}

.cursor-pointer{
  cursor: pointer;
}

.appearance-none{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.grid-rows-\[40px_auto\]{
  grid-template-rows: 40px auto;
}

.flex-col{
  flex-direction: column;
}

.items-start{
  align-items: flex-start;
}

.items-center{
  align-items: center;
}

.items-baseline{
  align-items: baseline;
}

.justify-start{
  justify-content: flex-start;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-1{
  gap: 0.25rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-2\.5{
  gap: 0.625rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-4{
  gap: 1rem;
}

.gap-5{
  gap: 1.25rem;
}

.gap-y-5{
  row-gap: 1.25rem;
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-x-auto{
  overflow-x: auto;
}

.overflow-x-hidden{
  overflow-x: hidden;
}

.rounded-2xl{
  border-radius: 1rem;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-md{
  border-radius: 0.375rem;
}

.border{
  border-width: 1px;
}

.border-b{
  border-bottom-width: 1px;
}

.border-r{
  border-right-width: 1px;
}

.border-border{
  border-color: rgba(255,255,255,0.05);
}

.border-transparent{
  border-color: transparent;
}

.border-white\/\[0\.12\]{
  border-color: rgb(255 255 255 / 0.12);
}

.bg-bg-menu{
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity, 1));
}

.bg-danger{
  --tw-bg-opacity: 1;
  background-color: rgb(255 92 41 / var(--tw-bg-opacity, 1));
}

.bg-primary{
  --tw-bg-opacity: 1;
  background-color: rgb(13 110 110 / var(--tw-bg-opacity, 1));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-white\/15{
  background-color: rgb(255 255 255 / 0.15);
}

.bg-white\/5{
  background-color: rgb(255 255 255 / 0.05);
}

.p-1{
  padding: 0.25rem;
}

.p-2{
  padding: 0.5rem;
}

.p-3\.5{
  padding: 0.875rem;
}

.p-5{
  padding: 1.25rem;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pb-4{
  padding-bottom: 1rem;
}

.pl-10{
  padding-left: 2.5rem;
}

.pl-5{
  padding-left: 1.25rem;
}

.pr-2\.5{
  padding-right: 0.625rem;
}

.pt-1{
  padding-top: 0.25rem;
}

.pt-16{
  padding-top: 4rem;
}

.pt-5{
  padding-top: 1.25rem;
}

.pt-\[10vh\]{
  padding-top: 10vh;
}

.text-left{
  text-align: left;
}

.text-\[12px\]{
  font-size: 12px;
}

.text-\[13px\]{
  font-size: 13px;
}

.text-\[14px\]{
  font-size: 14px;
}

.text-\[15px\]{
  font-size: 15px;
}

.text-\[16px\]{
  font-size: 16px;
}

.text-\[18px\]{
  font-size: 18px;
}

.text-\[20px\]{
  font-size: 20px;
}

.text-\[24px\]{
  font-size: 24px;
}

.text-\[28px\]{
  font-size: 28px;
}

.text-\[40px\]{
  font-size: 40px;
}

.font-extrabold{
  font-weight: 800;
}

.font-medium{
  font-weight: 500;
}

.font-semibold{
  font-weight: 600;
}

.leading-tight{
  line-height: 1.25;
}

.text-danger{
  --tw-text-opacity: 1;
  color: rgb(255 92 41 / var(--tw-text-opacity, 1));
}

.text-link{
  --tw-text-opacity: 1;
  color: rgb(96 165 250 / var(--tw-text-opacity, 1));
}

.text-primary{
  --tw-text-opacity: 1;
  color: rgb(13 110 110 / var(--tw-text-opacity, 1));
}

.text-text-disabled{
  color: rgba(229, 231, 235, 0.2);
}

.text-text-faded{
  color: rgba(229, 231, 235, 0.4);
}

.text-text-muted{
  color: rgba(229, 231, 235, 0.6);
}

.opacity-40{
  opacity: 0.4;
}

.backdrop-blur-md{
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-colors{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-opacity{
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform{
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.\*\:w-full > *{
  width: 100%;
}

.\*\:min-w-\[120px\] > *{
  min-width: 120px;
}

.\*\:flex-1 > *{
  flex: 1 1 0%;
}

.\*\:pl-2 > *{
  padding-left: 0.5rem;
}

.\*\:text-left > *{
  text-align: left;
}

.\*\:text-\[12px\] > *{
  font-size: 12px;
}

.\*\:font-medium > *{
  font-weight: 500;
}

.\*\:text-text-faded > *{
  color: rgba(229, 231, 235, 0.4);
}

.placeholder\:text-text-disabled::-moz-placeholder{
  color: rgba(229, 231, 235, 0.2);
}

.placeholder\:text-text-disabled::placeholder{
  color: rgba(229, 231, 235, 0.2);
}

.after\:absolute::after{
  content: var(--tw-content);
  position: absolute;
}

.after\:left-1\/2::after{
  content: var(--tw-content);
  left: 50%;
}

.after\:top-1\/2::after{
  content: var(--tw-content);
  top: 50%;
}

.after\:size-2\.5::after{
  content: var(--tw-content);
  width: 0.625rem;
  height: 0.625rem;
}

.after\:-translate-x-1\/2::after{
  content: var(--tw-content);
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.after\:-translate-y-1\/2::after{
  content: var(--tw-content);
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.after\:rounded-full::after{
  content: var(--tw-content);
  border-radius: 9999px;
}

.after\:bg-white::after{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.after\:opacity-0::after{
  content: var(--tw-content);
  opacity: 0;
}

.after\:transition-all::after{
  content: var(--tw-content);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.last\:\*\:pr-2 > *:last-child{
  padding-right: 0.5rem;
}

.even\:\*\:bg-white\/\[0\.02\] > *:nth-child(even){
  background-color: rgb(255 255 255 / 0.02);
}

.hover\:rotate-180:hover{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:rotate-90:hover{
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:bg-white\/5:hover{
  background-color: rgb(255 255 255 / 0.05);
}

.hover\:opacity-100:hover{
  opacity: 1;
}

.focus\:border-white\/10:focus{
  border-color: rgb(255 255 255 / 0.1);
}

.group:hover .group-hover\:block{
  display: block;
}

.group:hover .group-hover\:rotate-180{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:border-primary{
  --tw-border-opacity: 1;
  border-color: rgb(13 110 110 / var(--tw-border-opacity, 1));
}

.group.open .group-\[\&\.open\]\:flex{
  display: flex;
}

.group.open .group-\[\&\.open\]\:hidden{
  display: none;
}

.peer:checked ~ .peer-checked\:translate-x-full{
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.peer:checked ~ .peer-checked\:bg-primary{
  --tw-bg-opacity: 1;
  background-color: rgb(13 110 110 / var(--tw-bg-opacity, 1));
}

.peer:checked ~ .peer-checked\:after\:opacity-100::after{
  content: var(--tw-content);
  opacity: 1;
}

.peer:focus-within ~ .peer-focus-within\:block{
  display: block;
}

.peer.open ~ .peer-\[\&\.open\]\:flex{
  display: flex;
}

@media not all and (min-width: 768px){
  .max-md\:fixed{
    position: fixed;
  }

  .max-md\:bottom-5{
    bottom: 1.25rem;
  }

  .max-md\:z-\[49\]{
    z-index: 49;
  }

  .max-md\:col-span-2{
    grid-column: span 2 / span 2;
  }

  .max-md\:hidden{
    display: none;
  }

  .max-md\:w-\[calc\(100\%-40px\)\]{
    width: calc(100% - 40px);
  }

  .group.open .max-md\:group-\[\&\.open\]\:flex{
    display: flex;
  }
}

@media (min-width: 768px){
  .md\:right-7{
    right: 1.75rem;
  }

  .md\:top-7{
    top: 1.75rem;
  }

  .md\:hidden{
    display: none;
  }

  .md\:h-20{
    height: 5rem;
  }

  .md\:w-64{
    width: 16rem;
  }

  .md\:max-w-\[280px\]{
    max-width: 280px;
  }

  .md\:max-w-\[400px\]{
    max-width: 400px;
  }

  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:grid-cols-\[256px_1fr\]{
    grid-template-columns: 256px 1fr;
  }

  .md\:p-10{
    padding: 2.5rem;
  }

  .md\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:pt-20{
    padding-top: 5rem;
  }

  .md\:pt-\[20vh\]{
    padding-top: 20vh;
  }
}

.\[\&\.active\]\:bg-primary.active{
  --tw-bg-opacity: 1;
  background-color: rgb(13 110 110 / var(--tw-bg-opacity, 1));
}

.\[\&\.active\]\:bg-white\/5.active{
  background-color: rgb(255 255 255 / 0.05);
}

.\[\&\.active\]\:text-text.active{
  color: rgba(229, 231, 235, 1);
}

.\[\&\.active\]\:opacity-100.active{
  opacity: 1;
}

.\[\&\.admin\]\:text-warning.admin{
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity, 1));
}

.\[\&\.editor\]\:text-success.editor{
  --tw-text-opacity: 1;
  color: rgb(52 211 153 / var(--tw-text-opacity, 1));
}

.\[\&\.open\]\:border-transparent.open{
  border-color: transparent;
}

.\[\&\.viewer\]\:text-text-faded.viewer{
  color: rgba(229, 231, 235, 0.4);
}

.\[\&\:has\(\:checked\)\]\:bg-primary:has(:checked){
  --tw-bg-opacity: 1;
  background-color: rgb(13 110 110 / var(--tw-bg-opacity, 1));
}

.\[\&\:not\(\:disabled\)\]\:hover\:opacity-100:hover:not(:disabled){
  opacity: 1;
}
